<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="goToLogin()" slot="start">
      <ion-icon name="return-down-back-outline" color="white" size="large"></ion-icon>
    </ion-button>
    <ion-title slot="end">
      Mapa de los eventos cercanos
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center;">
    <img src="assets/images/maps.png" alt="Mapa de eventos cercanos" style="max-width: 100%; height: auto;" />
  </div>
  
</ion-content>