.logo {
    width: 50%;
    margin: 20% 0 20% 0;
}

.title {
    margin-bottom: 30px;
}

.title p {
    margin-top: 0 !important;
}

.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-margin-top {
    --height: auto;
  }