<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <img src="../../../assets/logo.png" class="logo" />

    <div class="title">
        <h2>PanoramApp</h2>
        <p>¡No te pierdas de nada!</p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="goToRegister()" color="white">REGISTRATE</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
    </div>
    <hr color="white"/>
    <ion-button expand="block" class="ion-margin-top" (click)="continueAsGuest()" color="white">CONTINUAR COMO INVITADO</ion-button>
</ion-content>