<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Login</h4>
    <p>Ingresa a tu cuenta</p>
  </div>

  <ion-input class="primary-input" label="Usuario" labelPlacement="floating" placeholder="Ingrese nombre de usuario" [(ngModel)]="userLogin.username"></ion-input>
  <ion-input class="primary-input" label="Contraseña" type="password" [(ngModel)]="userLogin.password" >
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <a>Olvide la contraseña</a>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </div>

    <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Cerrar</a>
  </div>
</ion-content>