<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="registerUser()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>
    
    <!-- <ion-item>
      <ion-label position="floating">Rol</ion-label>
      <ion-select [(ngModel)]="user.role" name="role" required>
        <ion-select-option value="user">Usuario</ion-select-option>
        <ion-select-option value="admin">Admin</ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-button expand="full" type="submit" class="ion-margin-top">Registrarse</ion-button>
  </form>
</ion-content>