<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="favoriteEvents.length > 0; else noEventsTemplate">
      <ion-col size="12" *ngFor="let evento of favoriteEvents">
        <ion-card>
          <ion-card-content>
            <p><strong>Nombre:</strong> {{ evento.nombre }}</p>
            <p><strong>Lugar:</strong> {{ evento.ubicacion }}</p>
            <div class="piscola">
              <div class="categorias">
                <ion-chip *ngFor="let categoria of evento.categorias" [ngClass]="categoria.toLowerCase()">
                  {{ categoria }}
                </ion-chip>
              </div>
              <div class="sharebutton" button (click)="ShareEvent(evento)">
                <ion-icon name="share-outline" size="large"></ion-icon>
              </div>
              <div class="favorite-button" *ngIf="loggedUser?.role !== 'anonymous'" button (click)="toggleFavorite(evento)">
                <ion-icon [name]="isFavorite(evento) ? 'heart' : 'heart-outline'" size="large" color="danger"></ion-icon>
              </div>
            </div>
            <img [src]="'../assets/images/' + evento.imagen" alt="{{ evento.nombre }}">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ng-template #noEventsTemplate>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <p>No tienes eventos favoritos guardados.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>