/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

ion-modal {
    --height: 50%; /* Modal ocupará la mitad inferior de la pantalla */
    --border-radius: 20px 20px 0 0; /* Bordes superiores redondeados */
    --background: white;
    --padding: 0; /* Ajusta el padding según sea necesario */
  }
  
  .login-modal .modal-wrapper {
    height: 100%; /* Asegúrate de que el modal ocupe toda la altura disponible */
    bottom: 0; /* Adherir al fondo de la pantalla */
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0; /* Bordes superiores redondeados */
    background-color: white;
  }
  
  .login-modal .modal-backdrop {
    opacity: 0.4;
  }
  
  .login-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Asegúrate de que el contenido se ajuste al tamaño del modal */
  }
  
  .primary-input {
    background: aliceblue;
    --padding-start: 10px !important;
    color: #999999;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  ion-toolbar {
    --background: #6309ad;
    color: #ffffff;
  }