<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button (click)="goToPerfil()">
          <ion-icon name="person-circle-outline" slot="start" class="black-icon"></ion-icon>
          Perfil
        </ion-item>
        <ion-item button (click)="goToMaps()">
          <ion-icon name="map-outline" slot="start" class="black-icon"></ion-icon>
          Mapa
        </ion-item>
        <ion-item *ngIf="loggedUser?.role !== 'anonymous'" button (click)="goToFavorites()">
          <ion-icon name="bookmarks-outline" slot="start" class="black-icon"></ion-icon>
          Favoritos
        </ion-item>
        <ion-item *ngIf="loggedUser?.role !== 'anonymous'" button (click)="goToSettings()">
          <ion-icon name="settings-outline" slot="start" class="black-icon"></ion-icon>
          Configuracion
        </ion-item>
        <ion-item *ngIf="loggedUser?.role === 'admin'" button (click)="goToAdminPanel()">
          <ion-icon name="cube-sharp" color="black" slot="start"></ion-icon>
          Admin Panel
        </ion-item>
      </ion-list>
      <div class="logout-button">
        <ion-button expand="block" (click)="goToLogin()">
          <ion-icon name="log-out-outline" size="large"></ion-icon>
          Salir
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          {{ loggedUser.role === 'anonymous' ? 'Modo Invitado' : 'Bienvenido ' + loggedUser.username }}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- Ion-segment para el filtro de eventos -->
      <ion-segment value="estaSemana" (ionChange)="cambiarFiltro($event)" class="home-tabs">
        <ion-segment-button value="estaSemana">
          <ion-label>Esta<br>semana</ion-label>
        </ion-segment-button>
        <ion-segment-button value="proximaSemana">
          <ion-label>Proxima<br>semana</ion-label>
        </ion-segment-button>
        <ion-segment-button value="subsiguienteSemana">
          <ion-label>Semana<br>subsiguiente</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- Eventos mostrados según el filtro -->
      <ion-grid>
        <ion-row *ngIf="eventosFiltrados.length > 0; else noEventsTemplate">
          <ion-col size="12" *ngFor="let evento of eventosFiltrados">
            <ion-card>
              <ion-card-content>
                <p><strong>Nombre:</strong> {{ evento.nombre }}</p>
                <p><strong>Lugar:</strong> {{ evento.ubicacion }}</p>
                <div class="piscola">
                  <div class="categorias">
                    <ion-chip *ngFor="let categoria of evento.categorias" [ngClass]="categoria.toLowerCase()">
                      {{ categoria }}
                    </ion-chip>
                  </div>
                  <div class="sharebutton" button (click)="ShareEvent()">
                    <ion-icon name="share-outline" size="large"></ion-icon>
                  </div>
                  <div class="favorite-button" *ngIf="loggedUser?.role !== 'anonymous'" button (click)="toggleFavorite(evento)">
                    <ion-icon [name]="isFavorite(evento) ? 'heart' : 'heart-outline'" size="large" color="danger"></ion-icon>
                  </div>
                </div>
                <img [src]="'assets/images/' + evento.imagen" alt="{{ evento.nombre }}">
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ng-template #noEventsTemplate>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-content>
                  <p>No hay eventos disponibles para este período.</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>