<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-icon name="person-circle-outline" style="font-size: 150px; color: rgb(0, 0, 0);"></ion-icon>
    <h2><u>Usuario:</u> {{ loggedUser.username }}</h2>
    <h2><u>Correo:</u> proximamente</h2>
  </div>
  <ion-button expand="block" color="danger" (click)="confirmDelete()">Eliminar Usuario</ion-button>
</ion-content>